html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;

  background-color: black;
}

/*--Styling for the Title and Counter--*/

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}

#counter {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}

/*-- Styling for the Menus --*/

button{
  border-radius: 15px;
  border: 2px solid black;

  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  height: 4rem;
}

button:hover{
  background-color: rgb(189, 187, 187);
  cursor: pointer;
}

.menu {
  background-color: rgba(250, 250, 250, .9);
  border-radius: 15px;

  width: 400px;

  padding: 20px 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  align-items: center;
  align-self: center;
}

.menu #game-description{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.panel p{
  text-align: center;
}

.panel button{
  
  display: flex;

  margin-right: auto;
  margin-left: auto;

  place-items: center;
}

.menu ul {
  align-self: right;
  align-items: right;
}

#endgame-menu {
  width: 300px;
  height: 200px;

  display: flex;
  flex-direction: column;
  visibility: hidden; /*Visibility is changed in the script when the game is over */
}